.main{
    width: min(50vw,500px);
    height:max(50vh,200px) ;
    ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-self: center;
    justify-self: center;
    border-radius: 5%;
    background-color: rgb(22, 22, 22);
}
.rel{
    position: relative;
    min-height: 200px;
    
}